<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop
    is-8-widescreen is-2-fullhd">
    <div class="column">
        <span class="tag is-warning is-large">#1</span>
        <figure class="image is-square">
            <img
                src="https://ksassets.timeincuk.net/wp/uploads/sites/56/2018/03/best-toothbrushes-05-FOREO_ISSA2_Stand-Alone_PINK_FRONT_TRANSPARENT-copy.jpg"
                />
        </figure>
    </div>
    <div class="column">
        <span class="tag is-warning is-large">#2</span>
        <figure class="image is-square">
            <img
                src="https://images-na.ssl-images-amazon.com/images/I/71CiM4TXzEL._SL1500_.jpg"
                />
        </figure>
    </div>
    <div class="column">
        <span class="tag is-warning is-large">#3</span>
        <figure class="image is-square">
            <img
                src="https://robertwelch.images.blucommerce.com/robertwelch/product/NEW+PACKAGING+2019/RADBR1099V56_1+w.jpg?auto=format%2Ccompress&bluhash=1b1134b6ef83a3c33bc995ab04fa4331&w=630&h=630&fit=fillmax&fill=solid&s=99b176933cbe0cc758a815f86202408c"
                />
        </figure>
    </div>
    <div class="column">
        <span class="tag is-warning is-large">#4</span>
        <figure class="image is-square">
            <img
                src="https://i.pinimg.com/originals/a2/d7/17/a2d717f971eb0b6b9c8c6cd2c37a84c9.jpg"
                />
        </figure>
    </div>
</div>
